html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family:sans-serif;
}

.container{
    background-color:whitesmoke;
    box-sizing: border-box;
    min-height:93vh;
    width:100%;
    padding:10px 80px;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2196F3;
}

.nav-bar li{
    float:left;
}

.nav-bar li a {
    font-family:sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover{
    color:#ddd;
}

#list{
   background-color:white;
   box-sizing:border-box;
   padding:10px;
   border:1px solid #bbbbbb;
   border-radius:5px;
}

#list>table{
    border:1px solid #cccccc;
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

#list thead th{
    padding:15px;
    background-color:#607d8b3d;
}


tr {
    border:1px solid #cccccc;
}

.row{
    padding:10px;
    width:100%;
}

.float-right{
    position:relative;
    left:90%;
}

.float-left{
    float:left;
}

.btn{
    padding:10px;
    border-radius:5px;
    border:2px solid #00000038;
}

.btnEdit{
    background-color:#2691ef;
    color:white;
}

.modal{
    background-color:white;
    box-shadow:0px 0px 10px #9a9a9a;
    border-radius:2px;
    height:60%;
    width:40%;
    position:absolute;
    top:50%;
    left:50%;
    z-index:5;
    transform:translate(-50%,-50%);
    display:none;
}

.modal-header{
    height:40px;
    background-color:#2691ef;
    padding:10px;
    box-sizing:border-box;
    color:white;
}

.modal-body{
    box-sizing:border-box;
    height:100%;
    width:100%;
   padding:0px 10px;
}

form{
    margin:20px 10px;
}
form input{
    display:block;
    margin:10px 5px;
}

form input[type=text]{
    width:90%;
    border:1px solid #aaa;
    padding:10px;
    border-radius:2px;
}

form input[type=submit]{
    position:absolute;
    bottom:10px;
    left:10;
}

.close{
    position:absolute;
    right:10px;
    font-size:20pt;
    top:5px;
    cursor:pointer;
}

.close:hover{
    opacity:0.8;
}

#delete-modal .buttons{
    position:absolute;
    bottom:60px;
    height:50px;
    width:95%;

}

#delete-modal p{
    height:200px;
    line-height:200px;
    text-align:center;
}

.buttons button{
  box-sizing:border-box;
  width:100%;
  margin:5px 5px;
}
.buttons button:hover{
    filter:brightness(1.2);
    cursor:pointer;
}

.btnAdd{
    background-color:#2196F3;
    color:white;
}

.btnEdit,.btnDelete{
    width:80px;
}

.btnEdit:hover,.btnDelete:hover{
    cursor:pointer;
    filter:brightness(1.2);
}

#edit-modal{
    height:550px!important;
}

label{
    font-weight:bolder;
}